@model AirQualityViewModel
@if (Model.AirQuality == null)
{
    <h3>Data not found</h3>
}
else
{
    <h3>@Model.Localization</h3>

    @foreach (var station in Model.AirQuality.MeasurementStations)
    {
        <div>
            <p>@station.Name</p>
            <p>@station.City</p>
            <div>
                @foreach (var param in station.QualityParameters)
                {
                    <div>
                        <p>@param.DisplayName</p>
                        <p>@param.Unit</p>
                        <p>@param.AverageValue</p>
                        <p>@param.LastValue</p>
                    </div>
                }
            </div>

        </div>
    }
}
