@model AirQualityViewModel
@if (!Model.IsDataAvailable)
{
    var localizationText = string.IsNullOrWhiteSpace(Model.Localization) ? "" : $"for {Model.Localization}";
    <h6 class="display-6 text-center">No air quality data found @localizationText</h6>
}
else
{
    <h6 class="display-6 text-center">Measurement Stations close to @Model.Localization</h6>

    <section class="container mt-5">
        <div class="row g-5 justify-content-center">
            @foreach (var station in Model.AirQuality.MeasurementStations)
            {
                var headerText = string.IsNullOrWhiteSpace(station.City) ? station.Name : $"{station.Name} - {station.City}";
                <div class="col-10">
                    <div class="card border-light">
                        <h5 class="card-header">@headerText</h5>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th scope="col"></th>
                                            <th scope="col">Last</th>
                                            <th scope="col">Average</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        @foreach (var param in station.QualityParameters)
                                        {
                                            <tr>
                                                <th scope="row">@param.DisplayName</th>
                                                <td>@param.LastValue @param.Unit</td>
                                                <td>@param.AverageValue @param.Unit</td>
                                            </tr>
                                        }
                                        </tbody>
                                    </table>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
}